<% @post.comments.each do |comment| %>
  <div>
    <div class="comment-wrap">
      <% unpublished_comment = comment.status == "unpublished" %>
      <% if unpublished_comment %>
        <div class="comment-status"><%= comment.status %></div>
      <% end %>
      <strong><%= comment.author.first_name %>:</strong>
      <div><%= comment.body %></div>
      <div class="comment-add"> added <%= distance_of_time_in_words(comment.updated_at, Time.now) %> ago</div>
    </div>
    <div class="text-right mb-3">
      <%= link_to 'Delete comment', post_comment_path(@post, comment),
                  method: :delete,
                  data: {confirm: 'Are you sure you want to delete the comment?'},
                  class: "btn btn-danger" %>
      <% if unpublished_comment %>
        <%= link_to 'Publish this comment', post_comment_path(@post, comment, comment: {status: :published}),
                    method: :patch,
                    class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
<% end %>